.parent{
    width: 500px;
    background-color: orange;
    padding: 10px;
}

.child{
    width: 100pc;
    background-color: skyblue;
    padding: 10px;
}

.grand{
    width: 100pc;
    background-color: gray;
    padding: 10px;
}